In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Salary_Data_Cleaned.csv')

In [4]:
df.head()

,Company Name,Competitors,Founded,Headquarters,Industry,Job Description,Job Title,Location,Rating,Revenue,...,Max_Salary,Average_Salary,Company_txt,Same_City,Age,Python,R_Studio,Spark,AWS,Excel
0,Connected\n4.2,-1,2014,"Toronto, Canada",Computer Hardware & Software,Our Software Engineers build products on a var...,Machine Learning Engineer,Toronto,4.2,Unknown / Non-Applicable,...,100,94.5,Connected\n,1,6,1,0,1,0,0
1,Coffee Meets Bagel\n4.4,-1,2012,"San Francisco, CA",Computer Hardware & Software,Coffee Meets Bagel\nCoffee Meets Bagel's missi...,Product Data Scientist,Toronto,4.4,$1 to $5 million (CAD),...,100,94.5,Coffee Meets Bagel\n,0,8,1,0,0,0,0
2,MavTek\n4.6,"MindGeek, Shopify, Lightspeed",2014,"Montreal, Canada",Internet,"Machine Learning Engineer - Intermediate, and ...",Machine Learning Engineer,Montreal,4.6,Unknown / Non-Applicable,...,100,94.5,MavTek\n,1,6,1,0,1,1,0
3,Rubikloud Technologies\n3.7,-1,2013,"Toronto, Canada",Enterprise Software & Network Solutions,"What We Are Building:\n\nAt Rubikloud, we are ...",Data Scientist,Toronto,3.7,Unknown / Non-Applicable,...,100,94.5,Rubikloud Technologies\n,1,7,1,0,1,0,0
4,Suncor Energy Services\n3.9,"Imperial Oil, Husky Energy",1967,"Calgary, Canada",Energy,"LOCATION: Calgary, Alberta (CA-AB)\nJOB NUMBER...",Data Scientist,Calgary,3.9,$10+ billion (CAD),...,100,94.5,Suncor Energy Services\n,1,53,1,0,0,0,1

In [6]:
df.columns

Index(['Company Name', 'Competitors', 'Founded', 'Headquarters', 'Industry',
       'Job Description', 'Job Title', 'Location', 'Rating', 'Revenue',
       'Salary Estimate', 'Sector', 'Size', 'Type of ownership', 'Hourly',
       'Employer_Provided', 'Min_Salary', 'Max_Salary', 'Average_Salary',
       'Company_txt', 'Same_City', 'Age', 'Python', 'R_Studio', 'Spark', 'AWS',
       'Excel'],
      dtype='object')

In [10]:
def title_simplifier(title):
    if 'data scientist'in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'machine learning'
    elif 'manger' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'

def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr.' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
        return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'jr'
    else:
        return 'na'

In [11]:
df['Job Seniority'] = df['Job Title'].apply(title_simplifier)

In [12]:
df['Job Seniority'].value_counts()

na                  205
analyst             168
data engineer       148
data scientist      140
machine learning     32
director              7
Name: Job Seniority, dtype: int64

In [13]:
df['Seniority'] = df['Job Title'].apply(seniority)

In [14]:
df['Seniority'].value_counts()

na        510
senior    188
jr          2
Name: Seniority, dtype: int64

In [15]:
#Job Description Length
df['Desc Length'] = df['Job Description'].apply(lambda x: len(x))
df['Desc Length']

0      5373
1      3498
2      3120
3      3707
4      7581
       ...
695    7077
696    4051
697    3138
698    4569
699    4486
Name: Desc Length, Length: 700, dtype: int64

In [16]:
df['Competitor']

KeyError: 'Competitor'